table {
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
  font-size: 12px;
  margin-top: 20px; }
  table thead {
    background: yellow;
    font-weight: bold; }
  table tbody {
    background: #333;
    color: #fff; }
  table td {
    width: 130px;
    height: 30px;
    border: 1px solid #fff;
    position: relative;
    cursor: pointer; }
    table td span {
      position: absolute;
      right: 8px; }
